// @import "/../../styles/main/variables";

// .talentContainer {
//     margin-top: $content-top-margin;
// }
// .ui.container.content-container {
//     padding-top: 5px!important;
// }

// .ui.container {
//     // background: rgba(0,0,0,0.2);
//     min-height: 300px;
//     max-width: 1000px;
//     padding: 100px 100px 10px 100px;
//     p{  
//         // border: none;
//         box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2);
//         background: rgba(255,255,255,0.4);
//         padding: 20px 20px 20px 20px;
//         text-align: left;
//         @include description(15px,black);
//     }
// }

// .image-container {
//     background: black;
//     img {
//         opacity: 0.7;
//     }
// }